
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
	padding-top: 87px;
}
.container {
    min-height: 100%;
    height: auto !important; /*https://www.sitepoint.com/community/t/height-auto-important/24589*/
    height: 100%;
    margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 55px; /* .push must be the same height as .footer */
}
.bio-image {
	width: 250px; 
	height: auto;
}